.header {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;
}

.header__title-shadow {
    opacity: 0.07;
    max-width: 467px;
    top: -0.9%;
    left: -0.9%;
    z-index: 4;
}

.aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    max-width: 169px;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    height: 100vh;

    &__logo {
        display: block;
        cursor: pointer;
        z-index: 6;
    }

    &__content {
        margin-top: 25px;
    }
    
    &-active {
        position: fixed;
        display: block !important;
        background: #171919;
        border: none;
        opacity: 1;
        padding-top: 60px;
        box-shadow: 21px 0px 58px -6px rgba(0,0,0,0.86);
    }

    &-active .aside__logo {
        display: none;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        fill: $color-common;
        width: 50px;
        height: 50px;
        transition: fill $transition-common;
        margin-bottom: 5px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        font-size: 12px;
        font-weight: $font-medium;
        color: $color-common;
        letter-spacing: 3px;
        line-height: 1.16;
        transition: $transition-common;

        &:hover {
            color: $color-secondary;
        }

        &:hover .menu__icon {
            fill: $color-secondary;
        }

        img {
            margin-bottom: 5px;
        }
    }
}

.aside__search {
    display: block;

    width: 30px;
    height: 30px;
    fill: $color-common;
    z-index: 6;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 23px;
    transition: fill $transition-common;

    &:hover {
        fill: $color-secondary;
    }

    &-link {
        display: block;
    }
}

.date {
    text-align: center;

    &__day {
        display: block;
        font-size: 72px;
        font-weight: $font-extra-bold;
        line-height: 1;
        padding-bottom: 4px;
    }

    &__month,
    &__year {
        display: inline-block;
        font-size: 16px;
        line-height: 1.19;
        font-weight: $font-light;
        letter-spacing: 1.4px;
    }
}

.aside__location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 1.05px;
    font-weight: $font-light;
    margin-top: 30px;

    img {
        margin-right: 8px;
    }
}

.header__go-down {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 190px;
    bottom: 20px;
    z-index: 3;

    &-icon {
        fill: $color-common;
        height: 50px;
        width: 50px;
        transition: fill $transition-common;
    }

    &:hover .header__go-down-icon {
        fill: $color-secondary;
    }
}


.header__slider {

    &-item {
        height: 100vh;
        background: url('../../img/header/header-bg.jpg') no-repeat;
        background-size: cover;
        //background-position: center;
        position: relative;
        overflow: hidden;
    }

    .slider-arrow {
        position: absolute;
        top: 35px;
        right: 75px;
        z-index: 4;
        padding: 5px;
    }

    .slider-arrow-left {
        right: 125px;
    }

    .slider-arrow-bottom {
        display: inline-block;
        position: static;
    }
}

.slider-dots {
    position: absolute;
    right: 50px;
    bottom: 34px;
    max-width: 920px;
    width: 100%;
    color: $color-common;

    &__item {
        outline: none;
    }
    
    .dots-box {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 4px solid $color-common;
        padding-top: 4px;
        cursor: pointer;
        transition: $transition-common;

        &:hover {
            border-color: $color-secondary;
            color: $color-secondary;
        }

        &__number {
            font-size: 24px;
            font-weight: $font-extra-bold;
            line-height: 1.41;
        }

        &__name {
            font-size: 16px;
            line-height: 1.18;
            font-weight: $font-light;
        }
    }

    .slick-current .dots-box {
        border-color: $color-secondary;
    }
}

.header__content {
    text-align: right;
    position: absolute;
    right: 80px;
    bottom: 116px;

    .suptitle {
        margin-bottom: 11px;
        display: inline-block;
    }

    .title {
        margin-bottom: 40px;
        display: block;
    }
    
    .title--small {
        margin-top: 4px;
        margin-bottom: 20px;
        display: block;
    }
}

.map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.map-svg {
    height: 489px;
}

.map__line {
    display: none;
}

.map__line--animation {
    display: block;
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s 1 0.1s;
    animation-fill-mode: forwards;
}

@keyframes animdash {
    to {
        stroke-dashoffset: 0;
    }
}

.location-point__text {
    fill: $color-common;
    font-size: 16px;
}