$color-black: #000000;
$color-common: #ffffff;
$color-secondary: #4AF6CD;
$color-bg: #171919;

$opacity-common: 0.5;

$transition-common: 0.3s;


$font-extra-bold: 800;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;