$main-white: white;

body {
    background: #005BFF;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 31px;
    .menu__button {
        font-size: 16px;
        line-height: 19px;
        box-sizing: border-box;
        color: $main-white;
        text-decoration: none;
        margin-left: 45px;
        padding: 7px 14.5px 7px 15.5px;
        border: 1px solid transparent;

        &:first-child, &:nth-child(2),  &:hover, &:active{
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 2px;
        }
        &:first-child, &:active {
            padding: 7px 14.5px 6px 15.5px;
            background: rgba(255, 255, 255, 0.4);
        }
        &:first-child {
            margin-left: 0; 
        }
    }
}

.offer {
    margin-left: 63px; // magic number
    margin-top: 197px; // magic number
    .fill {
        position: relative;
        top: 200px;
        right: 305px;
    }
}
.offer__heading, .offer__friends, .offer__button, .forms__title{
    color: $main-white;
}

.offer__heading {
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 1.34167px; // where did you get this number?
    width: 645px;
}

.offer__friends {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.7px;
    margin-top: 35px;
    margin-bottom: 72px;
}

.offer__button {
    background: #F91155;
    border-radius: 3px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    text-decoration: none;
    padding: 24px 16.5px;
    cursor: pointer;
}

.couple, .upletters, .letterZ, .letterO, .time, .money, .downletters, .letterO__down, .deal{
    position: relative;
}

.couple {
    right: 30px;

    .upletters, .downletters{
        display: flex;
        justify-content: space-between;
    }
    .upletters {
        top: 210px;
        .letterZ {
            right: 29px;
        }
        .letterO {
            right: 50px;
        }
        .time {
            top: 40px;
        }
        .money {
            top: 20px;
            right: 30px;
        }
    }

    .downletters {
        .letterO__down {
            left: 110px;
            .deal {
                bottom: 73px;
                left: 77px;
            }
        }
    }
}

.couple__main {
    width: 625px;
    height: 609px;
    position: relative;
    top: 172px;
    right: 70px;
}


.main {
    display: flex;
    flex-direction: row;

    .letterN, .target {
        position: relative;
    }

    .letterN {
        right: 300px;
        top: 25px;

        .target {
            bottom: 80px;
            right: 22px;
        }
    }
}

.forms__title {
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 1.34167px;
    position: relative;
    top: 103px;
    left: 132px;
    width: 444px;;
}

.forms__inputs {
    position: relative;
    top: 110px;
    left: 132px;

    .forms__fio, .forms__date, .forms__city, .forms__phone, .forms__email {
        display: flex;
        margin-bottom: 10px;
    }
    .forms__big, .forms__little {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
    }
    .forms__big {
        width: 289px;
        height: 40px;
        margin-left: 24px;
        margin-top: 5px;
    }
    .forms__little {
        width: 100px;
        height: 40px;
        margin-top: 17px;
    }
    p {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.466667px;
        color: white;
        padding-right: 23px;
    }

    .date__two__form {
        position: relative;
        left: 189px;
        margin-top: 17px;
    }
    
    .forms__phone__first {
        margin-left: 3px;
    }

    input {
        background-color: #005BFF;
        color: white;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.466667px;
    }

    .area__with__star {
        margin-top: 20px;
    }
}

.forms__inside {
    display: flex;
    .form__checkboxes {
        position: relative;
        left: 180px;
        top: 113px;
    }
    .form__button {
        background: #F91155;
        border-radius: 3px;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 24px 100px;
        cursor: pointer;
        position: relative;
        top: 20px;
        left: 7px;
    }
}

.form__with__checkbox {
    display: flex;
    p {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.291667px;
        color: #FFFFFF;
        position: relative;
        bottom: 10px;
        width: 328px;
        left: 10px;
    }
    .checkbox {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
        width: 16px;
        height: 16px;
        color: white;
    }
}

.rules {
    position: relative;
    top: 120px;
    left: 220px;
    background-color: {background-color:rgb(0,91,255);opacity:0.2;};
    mix-blend-mode: normal;
    opacity: 0.2;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    p {
        position: relative;
        left: 25px;
        top: 17px;
        color: white;
    }
    ul {
        padding: 18px 50px 19px 48px;
        color: white;
    }
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 260px;
    right: 120px;
    p {
        font-size: 20px;
        line-height: 23px;
        text-align: right;
        letter-spacing: 0.583333px;
        color: #FFFFFF;
    }
}


@keyframes spin {
	from {
		transform: rotate(0turn)
		           translateY(-50px) translateY(50%)
		           rotate(1turn)
	}
	to {
		transform: rotate(1turn)
		           translateY(-50px) translateY(50%)
		           rotate(0turn);
	}
}

 .letter {
    animation: spin 10s infinite linear;
	width: 90px;
}

@keyframes spintwo {
	from {
		transform: rotate(1turn)
		           translateY(-50px) translateY(50%)
		           rotate(turn)
	}
	to {
		transform: rotate(0turn)
		           translateY(-50px) translateY(50%)
		           rotate(0turn);
	}
}

.hologram {
    animation: spintwo 10s infinite linear;
    width: 90px; 
}

@media (min-width: 1780px) {
    .main {
        display: flex;
        justify-content: center;
    }
    .forms__block {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .forms__inside {
        display: flex;
        flex-direction: column;
    }
    .forms__input {
        left: 75px;
    }
    .form__checkboxes {
        left: 230px;
        top: 135px;
    }

    .rules {
        top: 180px;
        left: 130px;
    }

    .contacts {
        display: flex;
        justify-content: space-around;
        left: 50px;
    }
}