.restaurant {
  margin-top: 50px;
  color: white;
}

.restaurant h3 {
  font-size: 4rem;
  text-shadow: 1px 1px 1px black;
}

.restaurant > * {
  margin-bottom: 10px;
}

.switcher {
  margin: 20px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switcher a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: none;
  margin: 0 20px 20px;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s ease;
}

.switcher a:hover {
  background-color: rgb(78, 78, 78);
  color: white;
}

.switcher a:active {
  transform: scale(0.96);
}

.active {
  background-color: black !important;
  color: white !important;
}