.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  animation: identifier infinite 0.5s linear;
}

@keyframes identifier {
  from {
    color: black;
  }

  to {
    color: silver;
  }
}