body {
  background: #005BFF; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 31px; }
  .menu .menu__button {
    font-size: 16px;
    line-height: 19px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    margin-left: 45px;
    padding: 7px 14.5px 7px 15.5px;
    border: 1px solid transparent; }
    .menu .menu__button:first-child, .menu .menu__button:nth-child(2), .menu .menu__button:hover, .menu .menu__button:active {
      border: 1px solid #FFFFFF;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 2px; }
    .menu .menu__button:first-child, .menu .menu__button:active {
      padding: 7px 14.5px 6px 15.5px;
      background: rgba(255, 255, 255, 0.4); }
    .menu .menu__button:first-child {
      margin-left: 0; }

.offer {
  margin-left: 63px;
  margin-top: 197px; }
  .offer .fill {
    position: relative;
    top: 200px;
    right: 305px; }

.offer__heading, .offer__friends, .offer__button, .forms__title {
  color: white; }

.offer__heading {
  font-size: 46px;
  line-height: 48px;
  letter-spacing: 1.34167px;
  width: 645px; }

.offer__friends {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.7px;
  margin-top: 35px;
  margin-bottom: 72px; }

.offer__button {
  background: #F91155;
  border-radius: 3px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
  padding: 24px 16.5px;
  cursor: pointer; }

.couple, .upletters, .letterZ, .letterO, .time, .money, .downletters, .letterO__down, .deal {
  position: relative; }

.couple {
  right: 30px; }
  .couple .upletters, .couple .downletters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .couple .upletters {
    top: 210px; }
    .couple .upletters .letterZ {
      right: 29px; }
    .couple .upletters .letterO {
      right: 50px; }
    .couple .upletters .time {
      top: 40px; }
    .couple .upletters .money {
      top: 20px;
      right: 30px; }
  .couple .downletters .letterO__down {
    left: 110px; }
    .couple .downletters .letterO__down .deal {
      bottom: 73px;
      left: 77px; }

.couple__main {
  width: 625px;
  height: 609px;
  position: relative;
  top: 172px;
  right: 70px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .main .letterN, .main .target {
    position: relative; }
  .main .letterN {
    right: 300px;
    top: 25px; }
    .main .letterN .target {
      bottom: 80px;
      right: 22px; }

.forms__title {
  font-size: 46px;
  line-height: 48px;
  letter-spacing: 1.34167px;
  position: relative;
  top: 103px;
  left: 132px;
  width: 444px; }

.forms__inputs {
  position: relative;
  top: 110px;
  left: 132px; }
  .forms__inputs .forms__fio, .forms__inputs .forms__date, .forms__inputs .forms__city, .forms__inputs .forms__phone, .forms__inputs .forms__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px; }
  .forms__inputs .forms__big, .forms__inputs .forms__little {
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px; }
  .forms__inputs .forms__big {
    width: 289px;
    height: 40px;
    margin-left: 24px;
    margin-top: 5px; }
  .forms__inputs .forms__little {
    width: 100px;
    height: 40px;
    margin-top: 17px; }
  .forms__inputs p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.466667px;
    color: white;
    padding-right: 23px; }
  .forms__inputs .date__two__form {
    position: relative;
    left: 189px;
    margin-top: 17px; }
  .forms__inputs .forms__phone__first {
    margin-left: 3px; }
  .forms__inputs input {
    background-color: #005BFF;
    color: white;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.466667px; }
  .forms__inputs .area__with__star {
    margin-top: 20px; }

.forms__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .forms__inside .form__checkboxes {
    position: relative;
    left: 180px;
    top: 113px; }
  .forms__inside .form__button {
    background: #F91155;
    border-radius: 3px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 24px 100px;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 7px; }

.form__with__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .form__with__checkbox p {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.291667px;
    color: #FFFFFF;
    position: relative;
    bottom: 10px;
    width: 328px;
    left: 10px; }
  .form__with__checkbox .checkbox {
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    color: white; }

.rules {
  position: relative;
  top: 120px;
  left: 220px;
  background-color-background-color: #005bff;
  background-color-opacity: 0.2;
  mix-blend-mode: normal;
  opacity: 0.2;
  border-radius: 2px;
  border: 1px solid #FFFFFF; }
  .rules p {
    position: relative;
    left: 25px;
    top: 17px;
    color: white; }
  .rules ul {
    padding: 18px 50px 19px 48px;
    color: white; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: relative;
  top: 260px;
  right: 120px; }
  .contacts p {
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.583333px;
    color: #FFFFFF; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0turn) translateY(-50px) translateY(50%) rotate(1turn);
    transform: rotate(0turn) translateY(-50px) translateY(50%) rotate(1turn); }
  to {
    -webkit-transform: rotate(1turn) translateY(-50px) translateY(50%) rotate(0turn);
    transform: rotate(1turn) translateY(-50px) translateY(50%) rotate(0turn); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0turn) translateY(-50px) translateY(50%) rotate(1turn);
    transform: rotate(0turn) translateY(-50px) translateY(50%) rotate(1turn); }
  to {
    -webkit-transform: rotate(1turn) translateY(-50px) translateY(50%) rotate(0turn);
    transform: rotate(1turn) translateY(-50px) translateY(50%) rotate(0turn); } }

.letter {
  -webkit-animation: spin 10s infinite linear;
  animation: spin 10s infinite linear;
  width: 90px; }

@-webkit-keyframes spintwo {
  from {
    -webkit-transform: rotate(1turn) translateY(-50px) translateY(50%) rotate(turn);
    transform: rotate(1turn) translateY(-50px) translateY(50%) rotate(turn); }
  to {
    -webkit-transform: rotate(0turn) translateY(-50px) translateY(50%) rotate(0turn);
    transform: rotate(0turn) translateY(-50px) translateY(50%) rotate(0turn); } }

@keyframes spintwo {
  from {
    -webkit-transform: rotate(1turn) translateY(-50px) translateY(50%) rotate(turn);
    transform: rotate(1turn) translateY(-50px) translateY(50%) rotate(turn); }
  to {
    -webkit-transform: rotate(0turn) translateY(-50px) translateY(50%) rotate(0turn);
    transform: rotate(0turn) translateY(-50px) translateY(50%) rotate(0turn); } }

.hologram {
  -webkit-animation: spintwo 10s infinite linear;
  animation: spintwo 10s infinite linear;
  width: 90px; }

@media (min-width: 1780px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .forms__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .forms__inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .forms__input {
    left: 75px; }
  .form__checkboxes {
    left: 230px;
    top: 135px; }
  .rules {
    top: 180px;
    left: 130px; }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    left: 50px; } }
