.restaurants {
  display: block;
  padding: 50px 0;
  background-image: url('https://images.unsplash.com/photo-1573836469204-9386d81a67a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');
  background-attachment: fixed;
}