@font-face {
    font-family: 'Gilroy-Medium', sans-serif;
    src: url(../fonts/Gilroy-Medium.woff2) format('woff2');
         font-weight: 500;
         font-style: normal;
         font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Regular', sans-serif;
    src: url(../fonts/Gilroy-Regular.woff2) format('woff2');
         font-weight: 400;
         font-style: normal;
         font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Bold', sans-serif;
    src: url(../fonts/Gilroy-Bold.woff) format('woff');
         font-weight: 500;
         font-style: normal;
         font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Semibold', sans-serif;
    src: url(../fonts/Gilroy-Semibold.woff2) format('woff2');
         font-weight: 600;
         font-style: normal;
         font-display: swap;
}