html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

ul, li{
    list-style: none;
}

.container{
    max-width: 1280px;
    margin: auto;
}

a{
    text-decoration: none;
}