@media(max-width: 1280px) {
    .container{
        max-width: 1196px;
    }
}

@media(min-width: 1024px) and (max-width: 1200px) {
    .container{
        max-width: 944px;
        .header__up{
            .header__up-links{
                .header__up-link{
                    font-size: 12px;
                }
            }
            .header__up-messengers{
                margin-left: 143px;
            }
            .header__phone{
                margin-left: 67px;
                padding-top: 19px;
                font-size: 12px;
            }
        }
        .header__down{
            .header__shoplist{
                .header__shoplist-title{
                    font-size: 12px;
                }
            }
            .header__search{
                width: 345px;
                input{
                    width: 305px;
                }
            }
            .header__down-icons{
                margin-top: 20px;
                li{
                    margin-left: 30px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .container{
        max-width: 940px;
        .header__up{
            .header__up-links{
                .header__up-link{
                    font-size: 12px;
                }
            }
            .header__up-messengers{
                display: none;
            }
            .header__phone{
                padding-top: 19px;
            }
        }
        .header__down{
            .header__shoplist{
                .header__shoplist-title{
                    font-size: 12px;
                }
            }
            .header__search{
                width: 120px;
                display: flex;
                justify-content: flex-end;
                input{
                    display: none;
                }
            }
            .header__down-icons{
                margin-top: 20px;
                li{
                    margin-left: 30px;
                }
            }
        }
        .header__catalog{
            display: none;
        }
    }
}

@media(max-width: 768px) {
    .container{
        .header{
            .header__down{
                .header__shoplist{
                    .header__shoplist-title{
                        font-size: 12px;
                    }
                }
                .header__search{
                    padding-right: 25px;
                }
                .header__down-icons{
                    li{
                        margin-left: 30px;
                    }
                }
                .navBurger{
                    margin-top: 20px;
                }
            }
        }
    }
    .footer{
        padding-left: 22px;
        padding-right: 22px;
        .footer__column{
            a{
                font-size: 12px;
            }
        }
        .first-column{
            .footer__copyright{
                font-size: 12px;
                margin-top: 28px;
            }
        }
        .second-column{
            display: none;
        }
        .four-column{
            margin-top: 22px;
        }
        .five-column{
            margin-top: 15px;
            p{
                font-size: 12px;
            }
        }
    }
}

@media(min-width: 769px) {
    .navBurger{
        display: none;
    }
}

@media(min-width: 701px) {
    .footer__mobile, .header__up-mobile{
        display: none;
    }

}

@media(max-width: 768px){
    .container{
        padding-left: 17px;
        padding-right: 17px;
    }
}

@media(max-width: 700px) {
    .header{
        .header__up-mobile{
            padding-top: 18px;
            display: flex;
            justify-content: space-between;
            .header__logo{
                display: flex;
                justify-content: space-between;
                img{
                    width: 51px;
                    height: 51px;
                }
                p{
                    margin-left: 16px;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
            .header__phone{
                padding-top: 22px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                a{
                    color: #000;
                }
            }
        }
        .header__up{
            display: none;
        }
        .header__down{
            .header__logo{
                display: none;
            }
            .header__shoplist{
                display: none;
            }
        }
    }
    .compare{
        .compare__container{
            flex-direction: column;
            .compare__left{
                width: 100%;
                .compare__left-change{
                    margin-top: 35px;
                }
                .compare__left-list{
                    display: none;
                }
            }
            .compare__right{
                width: 100%;
                .compare__slider{
                    .slider-arrow-left{
                        margin-right: 100px;
                    }
                    .compare__slider-item{
                        .item-content{

                            .item-content__size, .item-content__articooltwo, .item__content-material{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        margin-top: 50px;
        .first-column, .second-column, .third-column, .four-column, .five-column{
            display: none;
        }
        .footer__mobile{
            width: 100%;
            .footer__mobile-ocean{
                display: flex;
                justify-content: space-between;
                .footer__logo{
                    margin-top: 10px;
                    display: flex;
                    p{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 130%;
                        text-transform: uppercase;
                    }
                    img{
                        width: 38px;
                        height: 38px;
                        margin-top: 7px;
                    }
                }
                .footer__contacts-social{
                    display: flex;
                    img{
                        width: 12px;
                        height: 12px;
                        margin-left: 5px;
                        margin-top: 47px;
                    }
                    .footer__mobile-numbers{
                        display: flex;
                        flex-direction: column;
                        .footer__mobile-phone{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 36px;
                            color: #000000;
                        }
                    }
                    p{
                        font-size: 12px;
                    }
                }
                
            }
            .footer__mobile-links{
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                a{
                    color: black;
                }
            }
        }
    }
}

