%gilroy-medium{
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 500;
}

%gilroy-regular{
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
}

%gilroy-bold{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
}

%gilroy-semibold{
    font-family: 'Gilroy-Semibold', sans-serif;
    font-weight: 600;
}
