<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="yandex-verification" content="bbe95733af87ec3d">
      <title>{{text.title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#"><img src="img/logo.png" alt="logo"></a>
               <a class="navbar-brand" href="#"><p>{{text.NavCompanySmall | raw}}</p><h2>{{text.NavCompany | raw}}</h2></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#main">{{text.NavMenu}}</a></li>
                  <li><a href="#tech">{{text.NavTech}}</a></li>
                  <li><a href="#product">{{text.NavProduct}}</a></li>
                  <li><a href="#contacts">{{text.NavContacts}}</a></li>
                  <li><div class="flag"><a href="index.php?lang=ru"><img src="img/flag{{text.lang1}}.png" alt="lang"></a></div></li>
                  <li><div class="flag"><a href="index.php?lang=en"><img src="img/flag{{text.lang2}}.png" alt="lang"></a></div></li>
               </ul>
               </div><!-- /.navbar-collapse -->
               </div><!-- /.container-fluid -->
            </nav>
            <header>
               <div class="container">
                  <a name="main"></a>
                  <div class="companyNameSmall">{{text.headerSmall}}</div>
                  <div class="companyName">{{text.headerSmallTwo}}</div>
                  <div class="sloganText">{{text.header}}</div>
                  <div class="stone">
                     <div class="buybtn bounce-top">
                        <a href="mailto:mailto:zcorm2017@gmail.com"><button class="redbtn">{{text.headButton | raw}}</button></a>
                     </div>
                     <img src="img/stone.png" alt="stone">
                  </div>
                  <div class="headButton col-xs-6 col-sm-3 col-md-3">
                     <div class="headButtonPic">
                        <img src="img/button5.png" alt="button">
                     </div>
                     <div class="headButtonName">{{text.headButton1}}</div>
                     <div class="downHeadText">
                        {{text.downheadButton1}}
                     </div>
                  </div>
                  <div class="headButton col-xs-6 col-sm-3 col-md-3">
                     <div class="headButtonPic">
                        <img src="img/button1.png" alt="button">
                     </div>
                     <div class="headButtonName">{{text.headButton2}}</div>
                     <div class="downHeadText">
                        {{text.downheadButton2 | raw}}
                     </div>
                  </div>
                  <div class="headButton col-xs-6 col-sm-3 col-md-3">
                     <div class="headButtonPic">
                        <a href="#gallery"><img src="img/button4.png" alt="button"></a>
                     </div>
                     <div class="headButtonName">{{text.headButton3}}</div>
                     <div class="downHeadText">
                        {{text.downheadButton3 | raw}}
                     </div>
                  </div>
                  <div class="headButton col-xs-6 col-sm-3 col-md-3">
                     <div class="headButtonPic">
                        <a href="#video"><img src="img/button6.png" alt="button"></a>
                     </div>
                     <div class="headButtonName">{{text.headButton4}}</div>
                     <div class="downHeadText">
                        {{text.downheadButton4}}
                     </div>
                  </div>
               </div>
            </header>
            <main>
               <section>
                  <div class="hello">
                     <a name="hello"></a>
                     <div class="container">
                        {{text.hello | raw}}
                     </div>
                     <div class="pixelFree"></div>
                  </div>
               </section>
               <section>
                  <div class="tech">
                     <a name="tech"></a>
                     <div class="container marginCon">
                        {{text.tech | raw}}
                     </div>
                     <div class="pixelFree"></div>
                  </div>
               </section>
               <section>
                  <div class="product">
                     <a name="product"></a>
                     <div class="container">
                        {{text.product | raw}}
                     </div>
                     <div class="pixelFree"></div>
                     <!--
                     <a name="gallery"></a>
                     <div class="ma5slider anim-horizontal horizontal-navs inside-navs loop-mode">
                        <div class="slides">
                           children = slides
                           <a href="#slide-1"><img src="images/01.jpg" alt=""></a>
                           <a href="#slide-2"><img src="images/02.jpg" alt=""></a>
                           <a href="#slide-3"><img src="images/03.jpg" alt=""></a>
                        </div>
                     </div>-->
                  </div>
               </section>
               <section>
                  <div class="contacts">
                     <a name="contacts"></a>
                     <div class="container">
                        {{text.contacts | raw}}
                     </div>
                     <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa3d65f0470c956e7537e22b7fc738be905d712b8da5ef6cf05a6bb5484ddd51c&amp;width=100%25&amp;height=320&amp;lang=ru_RU&amp;scroll=true"></script>
                  </div>
               </section>
            </main>
            <footer>
               <div class="down">
                  <div class="container">
                     <div class="copy">
                        {{text.footer | raw}}
                     </div>
                  </div>
                  <div class="pixelFree"></div>
               </div>
            </footer>
            <script src="http://ma5slider.ma5.pl/js/jquery.min.js"></script>
            <script src="http://ma5slider.ma5.pl/js/jquery-ui.min.js"></script>
            <script src="http://ma5slider.ma5.pl/js/jquery.ui.touch-punch.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <link href="http://ma5slider.ma5.pl/css/ma5slider.min.css" rel="stylesheet" type="text/css">
            <script src="http://ma5slider.ma5.pl/js/ma5slider.min.js"></script>
            <script src="js/jquery.waypoints.min.js"></script>
            <script src="js/animation.js"></script>
            <script>
            $(window).on('load', function () {
            $('.ma5slider').ma5slider();
            });
            </script>
         </body>
      </html>