@media (max-width: 1440px) {
    /* HEADER */
    .aside,
    .aside__logo-img {
        max-width: 110px;
    }

    .menu__link {
        margin-bottom: 20px;
    }
    
    .date__day {
        font-size: 45px;
    }

    .aside__location {
        margin-top: 20px;
    }

    .header__go-down {
        left: 120px;
    }

    .header__content {
        bottom: 70px;
    }

    .slider-dots {
        bottom: 10px;
    }

    .map-svg {
        height: 390px;
    }
    /* SHOP */
    .shop__stars {
        margin-top: 40px;
    }
}

@media (max-width: 1150px) {

    /* HEADER */
    .slider-dots .dots-box {
        width: 130px;
    }

    .slider-dots__item {
        width: 160px !important;
    }

    .slider-dots {
        width: 640px;
    }

    /* TRAVEL */

    .travel-airline {
        margin-left: 30px;
        background-position: 160% top;
    }

    .travel-info {
        max-width: 900px;
        justify-content: space-around;
    }

    .btn-travel,
    .btn-sleep {
        margin-top: 0;
    }

    /* SLEEP */
    .sleep {
        padding-top: 100px;
    }

    .sleep-raiting {
        margin-left: 30px;
    }

    .sleep-info {
        max-width: 805px;
        justify-content: space-around;        
    }

    /* SHOP */
    .shop__content {
        justify-content: space-around;
    }

    .surfboard__point--right {
        
        .surfboard__content.active {
            display: inline-block;
            transform: rotate(-90deg) translate(-100%, 0);
            transform-origin: left top;
            top: -100px;
            left: 10px;
        }
    }

    .surfboard__point--right .surfboard__content::before {
        width: 0;
    }
    /* FOOTER */
    .footer {
        padding-top: 0;
    }
}

@media (max-width: 920px) {
    /* GLOBAL */
    .title {
        font-size: 40px;

        &--small {
            font-size: 30px;
        }

        &--line {
            font-size: 60px;
        }

        &--shadow {
            font-size: 120px;
        }
    }

    .suptitle {
        font-size: 15px;
    }

    .text-common {
        font-size: 30px;
    }

    

    /* HEADER */
    .header__content {
        right: 23px;
    }

    .slider-dots {
        right: 0;
    }

    .slider-arrow-left {
        right: 50px !important;
    }

    .slider-arrow-right {
        right: 10px !important;
    }

    .header__go-down {
        left: 30px;
    }
    /* SURF */
    .surf-map__circle {
        height: 18px;
        width: 18px;
    }

    .surf-map__content-box::before {
        left: 44%;
    }

    .surf-map__content-box {
        width: 240px;
        height: 183px;
        padding: 15px 0px 0px 15px;
    }

    /* TRAVEL */
    .travel {
        padding-top: 100px;
    }

    .travel-airline {
        margin-left: 20px;
        background-position: calc(100% + 300px) top;
    }
    /* SLEEP */
    .sleep-raiting {
        margin-left: 20px;
    }

    .sleep__slider-item {
        background: none;
    }

    .sleep-head__resort {
        width: 200%;
        overflow: hidden;;
    }

    .sleep-info__price {
        padding-right: 105px;
    }

    /* SHOP */
    .shop__content {
        margin: 0 20px;
    }
}

@media (max-width: 768px) {

    .title-shadow {
        font-size: 110px;
    }
    /* SURF */
    .surf-shape {
        display: none;
    }
    /* TRAVEL */
    .travel-head {
        margin-top: 0px;

        &__beach {
            width: calc(100% + 150px);
            overflow: hidden;
        }
    }

    .travel-airline {
        background-position: calc(100% + 370px) -30px;
        margin-top: -20%;
        padding-top: 110px;
    }

}

@media (max-width: 740px) {
    /* HEADER */
    .slider-dots {
        display: none;
    }

    /* SHOP */
    .surfboard__point--left {
    
        .surfboard__content.active {
            display: inline-block;
            transform: rotate(-90deg) translate(55%, 0);
            transform-origin: right top;
            top: 0px;
            left: 25px;

        }
    }

    .surfboard__point--left .surfboard__content::after {
        width: 0;
    }
}

@media (max-width: 590px) {
    /* SURF */
    .surf__content {
        margin-right: 20px;
    }

    /* TRAVEL */
    .travel-info {
        max-width: 490px;
    }

    .travel-info__title {
        transform: rotate(0deg);
    }
    .travel-info__text {
        margin-top: 5px;
        padding-left: 0px;
    }

    .travel-info__item {
        min-height: auto;
        height: auto;
    }
    .travel-head {
        margin-right: 20px;
    }

    /* SLEEP */
    .sleep-raiting {
        min-height: auto;
        margin-bottom: 30px;
    }

    .sleep-info {
        max-width: 400px;
        justify-content: normal;
    }
    .sleep-info__item {
        min-height: 150px;
        margin-bottom: 0;
    }
    .sleep-info__title {
        transform: rotate(0deg);
    }

    .sleep-info__text {
        margin-top: 5px;
        padding-left: 0px;
    }

    .sleep-head {
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    /* HEADER */
    .aside {
        display: none;
    }

    .arrow-upper {
        display: none !important;
    }

    .header__content {
        bottom: 20px;
    }

    #menuToggle {
        display: flex;
    }

    /* SURF */
    .surf__content {
        margin: 0;
        align-items: center;
        margin-top: 15px;

        .suptitle--left {
            padding: 0px;
        }
        .suptitle--left::before {
            width: 0px;
        }
    }

    /* TRAVEL */
    .travel {
        padding-top: 50px;
    }
    .travel-info {
        max-width: 375px;
        justify-content: normal;
    }

    .travel-info__item {
        max-width: 100%;
    }

    /* SLEEP */
    .sleep-head {
        margin-top: 0px;
    }

    /* SHOP */
    .shop__slider {
        margin-top: 0px;
    }

    .shop__board-info {
        margin-top: 50px;
    }
}

@media (max-width: 400px) {
    /* HEADER */
    .header__content .title {
        margin-bottom: 10px;
    }

    /* SURF */
    .surf-slider li:not(:first-child) {
        margin-left: -10px;
    }

    .btn-surf {
        font-size: 26px;
        height: 60px;
    }
    /* TRAVEL */
    .travel-airline {
        background-position: calc(100% + 430px) -30px;
    }
    .btn-travel span::after {
        content: none;
    }

}







@media (max-height: 850px) {
    /* SURF */
    .surf-slider li {
        margin-top: 0px !important;
    }

    .travel {
        padding-top: 70px;
    }
}

@media (max-height: 750px) {

    /* HEADER */
    .menu__icon {
        display: none;
    }

    .menu__link {
        text-transform: uppercase;
        font-size: 25px;
    }

    /* SURF */
    .surf-card {
        height: 558px;
    }

    .surf-arrow {
        display: none;
    }

    .surf-list {
        height: 670px;
    }
}