.navContainer {
  color: white;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 4rem;
  text-shadow: 1px 1px 1px black;
}

.navigation {
  padding: 0 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  text-decoration: none;
  color: white;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 1px 2px 3px gray;
  transition: 0.2s ease-in all;
}



.nav h2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px black;
}

.nav:hover {
  transform: scale(0.98);
  background-blend-mode: multiply;
  background-color: rgb(109, 109, 109);
}