.footer {
    padding-top: 160px;

    &__content {
        margin: 0 auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        font-weight: $font-light;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 1.05px;
        text-transform: uppercase;
        opacity: $opacity-common;
        margin-top: 27px;
        margin-bottom: 34px;
    }
}

.btn-footer {
    justify-content: center;
    span::after {
        content: none;
        width: 0;
    }
}