.menuToggle {
  display: none;
  z-index: 100;
  overflow: hidden;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
}

.menuToggle-active {
  margin-left: 35px;
}

#menuToggle input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span{
  width: 45px;
  height: 4px;
  margin-bottom: 7px;
  background: $color-common;
  border-radius: 4px;
  -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  transition: all .5s cubic-bezier(.08,.81,.87,.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: $color-common;
  transform: rotate(45deg) translate(3px);
}
#menuToggle input:checked ~ #span2 {
  background-color: $color-common;
  transform: rotate(495deg) translate(6px);   
}
#menuToggle input:checked ~ #span3 {
  background-color: $color-common;
  transform: rotate(45deg);
  opacity: 0;
}
