.shop {
    padding-top: 190px;
    padding-bottom: 140px;

    &__slider {
        margin-top: 80px;
        overflow: hidden;
    }

    &__slider-item {
        background: url('../../img/shop/shop-bg.png') no-repeat;
        background-position: center right;
    }
    
    &__title {
        margin-left: 13.5%;
        display: inline-block;
    }

    &__title-shadow {
        top: 30%;
        right: -15%;
    }

    &__content {
        margin-left: 133px;
        margin-right: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__board-info {
        margin-top: 145px;
        margin-bottom: 40px;
    }

    &__stars {
        margin-top: 25px;
        margin-left: -16px;
    }

    &__board-price {
        font-weight: $font-extra-bold;
        font-size: 32px;
        line-height: 1.25;
        text-transform: uppercase;
        margin-top: -10px;
        margin-bottom: 70px;

        sup {
            font-size: 18px;
            padding-left: 6px;
        }
    }
}

.extras {
    margin-top: auto;
    max-width: 333px;
    width: 100%;

    &__title {
        font-size: 28px;
    }

    &__list {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 40px;
    }

    &__name {
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 8px;
        text-transform: uppercase;
        opacity: 0.5;
        padding-top: 32px;
        padding-bottom: 15px;
    }

    &__item {
        text-align: center;  
    }

    &__price {
        font-size: 18px;
        font-weight: $font-extra-bold;
        text-transform: uppercase;
    }
}

.surfboard {
    margin-left: -10px;
    position: relative;

    &__point {
        position: absolute;
        display: flex;

        &--1 {
            top: 205px;
            left: 170px;
        }

        &--2 {
            top: 300px;
            left: -5px;
        }

        &--3 {
            top: 609px;
            left: 52px;
        }
    }

    &__circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color-common;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__strip {
        position: absolute;
        width: 12px;
        height: 2px;
        background-color: $color-secondary;
    }

    &__strip:last-child {
        transform: rotate(90deg);

        &.active {
            transform: rotate(0deg);
        }
    }
}

.surfboard__content {
    font-weight: $font-extra-bold;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;

    position: relative;
    display: none;
    width: 255px;
    box-sizing: content-box;
    margin-top: -15px;

    &.active {
        display: block;
    }
}

.surfboard__point--right .surfboard__content {
    padding-left: 110px;

    &::before {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background-color: #979797;
        position: absolute;
        top: 50%;
        left: 8px;
    }
}

.surfboard__point--left .surfboard__content {
    padding-right: 110px;
    margin-left: -385px;

    &::after {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background-color: #979797;
        position: absolute;
        top: 50%;
        right: 8px;
    }
}