.surf {
    background: url('../../img/surf/location-icon.png') no-repeat;
    background-position: right 210px;
    background-size: auto;
    background-color: #171919;
    padding-top: 164px;

    &__title {
        margin-left: 13.5%;
        display: inline-block;
    }

    &__title-shadow {
        top: 35px;
        right: 25px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 50px;
        margin-right: 80px;

        span {font-weight: 100;}
    }

    &__location {
        margin-bottom: 13px;
    }
}

/* SURF MAP */

.surf-shape {
    max-width: 1430px; 
    margin: 0 auto;
}

.surf-map {
    margin: 0 115px;
    background: url('../../img/surf/surf-slider/surf-map.png') no-repeat;
    background-size: contain;
    background-position: center;
    
    

    &__list {
        height: 635px;
        position: relative;
    }

    &__inner {
        display: none;
        width: 283px;
        height: 252px;
        position: absolute;
        bottom: 0px;
        left: 0;
        transform: translateX(-127px);
        opacity: 0;
        transition: opacity $transition-common;
        z-index: 10;

        &:hover {
            opacity: 1;
        }
    }

    &__item {
        position: absolute;

        &:hover .surf-map__inner {
            display: block;
        }

        &--1 {
            top: 340px;
            left: 0;
        }

        &--2 {
            top: 270px;
            left: 133px;
        }

        &--3 {
            top: 320px;
            left: 329px;
        }

        &--4 {
            top: 240px;
            left: 515px;
        }

        &--5 {
            top: 541px;
            left: 640px;
        }

        &--6 {
            top: 390px;
            left: 804px;
        }

        &--7 {
            top: 513px;
            left: 1075px;
        }

        &--8 {
            top: 515px;
            left: 400px;
        }
    }

    &__content-box {
        display: block;
        width: 283px;
        height: 216px;
        z-index: 100;


        background-color: rgba(15, 16, 16, 0.7);
        border-radius: 6px;

        padding-top: 28px;
        padding-left: 32px;

        position: absolute;
        bottom: 35px;


        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid $color-secondary;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -20px;
            left: 45%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        &:hover {
           opacity: 1;
        }
    }

    &__surf-link {
        display: flex;
        position: absolute;
        right: 27px;
        top: 27px;
        align-items: center;
        padding: 5px;
        box-sizing: content-box;

        &:hover {
            background-color: $color-secondary;
        }
        
        img {
            width: 17px;
        }
    }

    &__beach {
        font-size: 18px;
        line-height: 1.44;
        text-transform: uppercase;
        font-weight: $font-extra-bold;

        &::after {
            margin-top: 5px;
            display: block;
            content: '';
            width: 80px;
            height: 1px;
            background-color: $color-secondary;
        }
    }

    &__location {
        font-size: 16px;
        line-height: 1.19;
        margin-top: 8px;
    }

    &__conditions-list {
        width: 205px;
        height: 70px;
        margin-top: 30px;
        margin-left: 7px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__coditions-value {
        font-size: 16px;
        line-height: 1.43;
        font-weight: $font-extra-bold;
    }

    &__coditions-text {
        font-size: 10px;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: $font-light;
    }


    &__circle {
        width: 24px;
        height: 24px;
        background-color: $color-secondary;
        border-radius: 50%;
        box-shadow: 0 0 35px $color-secondary;
        z-index: 7;
    }
}


/* SURF SLIDER  */

.surf-slider {
    height: 100%;
    padding-top: 110px;
    
    .surf-arrow {
        position: absolute;
        top: -60px;
        right: 0;
        padding: 10px;
    }

    .slider-arrow-left {
        right: 140px;
    }

    .slider-arrow-right {
        right: 90px;
    }
}

.surf-list {
    height: 840px;
    display: flex;
}

.surf-card {
    height: 750px;
    min-width: 400px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    

   &__inner {
       width: 100%;
       height: 100%;
       background-color: rgba(#1C2121, .85);
       z-index: 5;
       transition: background-color $transition-common;
   }

   &:hover &__inner {
        background-color: rgba(#1C2121, 0.3);
    }

   &__title {
       width: 140px;
       padding: 75px 0 0 40px;
       font-size: 40px;
       line-height: 1;
       font-weight: $font-extra-bold;
       text-transform: uppercase;
   }

   &__location {
       font-size: 18px;
       line-height: 1;
       letter-spacing: 8px;
       text-transform: uppercase;
       transform: rotate(-90deg);
       position: absolute;
       left: 40px;
       bottom: 80px;
       width: 0;
       height: 0;
       white-space: nowrap;

       span {
           font-weight: 100;
       }
    }

    .btn-surf {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 40px;
        transition: opacity $transition-common;

        &:active, &:focus {
            outline: none;
        }
    }
    

    &:hover .btn-surf {
        opacity: 1;
    }

}

.surf-slider li:not(:first-child) {
    margin-left: -30px;
}

.surf-slider li:nth-child(even) {
    margin-top: 0px;
}

.surf-slider li:nth-child(odd) {
    margin-top: 90px;
}

.surf-slider li:nth-child(4n + 1) {
    margin-top: 32px;
}