
.travel {
    overflow: hidden;
    padding-top: 288px;
    padding-bottom: 165px;

    background: url('../../img/travel/airlie-beach/cocktail.png') no-repeat;
    background-position-x: calc(100% + 85px);
    background-position-y: calc(100%);


    &__title {
        margin-left: 13.5%;
        display: inline-block;
    }

    &__title-shadow {
        top: 30%;
        right: -40%;
    }

    &-head {
        height: 780px;
        position: relative;
        margin-top: 60px;
        margin-right: 80px;
        span {font-weight: 100;}

        &__suptitle {
            margin-top: 135px;
        }

        &__beach {
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            max-width: 1115px;
            max-height: 780px;
            width: 100%;
            height: 100%;
        }
    }

    .travel-head__title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

}

.travel-airline {
    padding-top: 50px;
    margin-top: -9%;
    margin-left: 132px;
    min-height: 250px;
    background: url('../../img/travel/airlie-beach/virgin-plane.png') no-repeat;
    background-position: right top;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;


    &__icon {
        padding-left: 10px;
    }
}

.travel-info {
    max-width: 1205px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        max-width: 290px;
        min-height: 200px;
        margin: 0 15px;
        margin-bottom: 40px;
    }

    &__title {
        display: inline-block;
        font-size: 18px;
        color: $color-common;
        opacity: $opacity-common;
        letter-spacing: 8px;
        line-height: 1.22;
        text-transform: uppercase;
        font-weight: $font-regular;
        transform: rotate(-90deg) translate(-100%, 0);
        transform-origin: left top;
        top: 0;
        left: 0;
    }

    &__text {
        text-transform: uppercase;
        font-weight: $font-extra-bold;
        font-size: 40px;
        line-height: 0.9;
        padding-left: 40px;
        margin-top: -18px;
    }

    &__suptext {
        display: block;
        font-size: 14px;
        text-align: right;
        letter-spacing: 5.25px;
        text-transform: uppercase;
        opacity: 0.75;
        margin-top: 2px;
        margin-right: -5px;
    }
}

.btn-travel {
    justify-content: center;
    margin-top: 30px;
}

