.check_body{
    display: flex;
    flex-direction: column;
}

.custom_radio_wrapper{
    display: flex;
}

.custom_radio{
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 1.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 50%;
}

.custom_radio_active{
    margin-right: 10px;
    background: #5558FA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.point{
    width: 3.2px;
    height: 3.2px;
    background: white;
    border-radius: 50%;
}