.card {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  background-color: white;
  color: black;
  border-radius: 5px;
  animation: identifier infinite 1s ease-in;
  box-shadow: 1px 1px 1px black;
}

i {
  font-size: 1rem;
}

@keyframes identifier {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}